@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
body {
  margin: auto;
  font-family: "Roboto Mono", monospace;
  overflow: auto;
  background: linear-gradient(
    351deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(103, 103, 222) 50%,
    rgba(0, 0, 0, 1) 100%
  );

  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  #drop_zone {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    color: wheat;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    margin: 100px auto 0 auto;
  }
  html,
body {
  overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navbar-brand {
    font-size: 30px;
    position: relative;
    color: #fcfdff;
    width: 100%;
  }
  .navbar-brand img {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 13%;
  }